main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: var(--background_color_transparente);
}
article {
  width: 100%;
  padding: 3% 10%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2%;
}
article > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article > div > img {
  width: 100%;
  aspect-ratio: 9/16;
  object-fit: cover;
  border-radius: 10px;
  border: 30px solid var(--enfasis_transparente);
  mask-image: linear-gradient(black 85%, transparent);
  transition: all 0.5s linear;
}
article > div:hover > img {
  transform: rotate(2deg) translateX(5px) scale(1.05);
}
.section_comments {
  background-image: url("../../assets/CirculosAhorasi.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes move {
  from {
    --a: 0deg;
  }
  to {
    --a: 360deg;
  }
}

@property --a {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0deg;
}

@media screen and (max-width: 600px) {
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article > div:nth-child(2) > img {
    margin-top: 5%;
    border-width: 10px;
  }
  .datos_section img {
    display: none;
  }
}
