.section_class_3 {
  width: 100%;
  background-image: url(../../assets/centro\ -\ background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  padding: 4% 10%;
  align-items: center;
  justify-content: center;
}
.section_class_3 h2 {
  color: var(--enfasis);
  font-size: 3rem;
}
.section_class_3 p {
  margin: 2% 0;
}
.content_cards_horizontal {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.card_horizontal {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  margin: 1% 0;
  background: var(--background_color_transparente);
  border: 2px solid var(--enfasis_transparente);
  border-radius: 5px;
  opacity: 0.8;
  color: #fff;
  transition: all 0.3s linear;
  flex-wrap: wrap;
}
.card_horizontal div {
  display: flex;
  flex-direction: column;
}
.card_horizontal div h5 {
  color: var(--enfasis);
}
.card_horizontal a {
  color: #fff;
}
.card_horizontal:hover {
  background: var(--background_color);
  border-color: var(--enfasis);
  opacity: 1;
  scale: 1.05;
}
.datos_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
  flex-wrap: wrap;
}
