.swiper {
  width: 100%;
  overflow: visible !important;
  padding-bottom: 5% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  display: flex !important;

  justify-content: space-between !important;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 20px;
  border-image-slice: 1;
  border-image-width: 0.25rem;
  border-radius: 10px;
  padding: 3%;
  color: #fff;
}
.swiper-slide a {
  color: var(--enfasis);
}
.swiper-button-next {
  position: absolute !important;
  top: 95% !important;
  color: var(--enfasis) !important;
}
.swiper-button-prev {
  position: absolute !important;
  top: 95% !important;
  color: var(--enfasis) !important;
}
.swiper-pagination-bullet-active {
  background: var(--enfasis) !important;
}
.content_img_swiper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.content_img_swiper img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;
  mask-repeat: no-repeat;
}
@media screen and (min-width: 1001px) {
  .swiper {
    padding-bottom: 10% !important;
  }
}
@media screen and (max-width: 1000px) {
  .swiper {
    padding-bottom: 18% !important;
  }
}
@media screen and (max-width: 600px) {
  .swiper {
    padding-bottom: 30% !important;
  }
  .swiper-slide {
    width: 100%;
    flex-direction: column;
    border: 2px solid var(--enfasis);
  }
  .swiper-slide img {
    width: 250px;
    border-radius: 10px;
    aspect-ratio: 16/9;
  }
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    top: 90% !important;
  }
}
